@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/static/font/DejaVuSansMono.eot');
  src: url('/static/font/DejaVuSansMono.eot?#iefix') format('embedded-opentype'),
       url('/static/font/DejaVuSansMono.woff2')      format('woff2'),
       url('/static/font/DejaVuSansMono.woff')       format('woff'),
       url('/static/font/DejaVuSansMono.ttf')        format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{font-family:'DejaVu Sans Mono';font-size:85%;background-color:white;color:black;-webkit-text-size-adjust: none;height: 100%;overflow: auto;-webkit-overflow-scrolling: touch;}
ul#logs {height: 7em;padding-left: 0.25em;margin: 0;overflow-y: auto;-webkit-overflow-scrolling:touch;}
ul#logs li {list-style-type: none;padding: 0;}
ul#logs li:nth-child(1) {color: red;} 
ul#logs li:nth-child(1) {color: #000;}
ul#logs li:nth-child(2) {color: #333;}
ul#logs li:nth-child(3) {color: #555;}
ul#logs li:nth-child(4) {color: #777;}
ul#logs li:nth-child(5) {color: #999;}
ul#logs li:nth-child(6) {color: #bbb;}
ul#logs li:nth-child(n+7) {color: #ddd;}
ul#logs li:hover {color: #000;}
@media (prefers-color-scheme: dark) {
	body {background-color:black;color:white;}
	ul#logs li:nth-child(1) {color: #fff;}
	ul#logs li:nth-child(2) {color: #ccc;}
	ul#logs li:nth-child(3) {color: #aaa;}
	ul#logs li:nth-child(4) {color: #888;}
	ul#logs li:nth-child(5) {color: #666;}
	ul#logs li:nth-child(6) {color: #444;}
	ul#logs li:nth-child(n+7) {color: #222;}
	ul#logs li:hover {color: #fff;}
}
#initialiser {position: fixed;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);text-align: center;}​
@media screen and (min-width: 750px) {
	body{font-size:150%}
}
@media screen and (min-width: 1000px) {
	body{font-size:200%}
}
@media screen and (min-width: 1250px) {
	body{font-size:250%}
}
.gotchicontainer{max-width:38em}
.flexible{display:flex;flex-wrap:nowrap}
.headerbar{border-bottom:3px solid}
.headerbar div{display:inline}
.mainarea{padding-top: 5px;}
.channel{width:10em;margin-right:0.5em}
.aps{flex-shrink:1;margin-right:0.5em}
.padder{flex-grow:1;flex-shrink:1;text-align:center;}
.uptime{flex-shrink:1;width:13em}
.face{font-size:3em;flex: 1 1 0;white-space: nowrap;margin-left: -0.25em;}
.faces{flex: 1 1 0;flex-wrap: nowrap;}
.status{flex:2 1 0;flex-wrap:nowrap}
.name{font-weight:700;padding-right:0.25em}
.level{padding-right:0.25em;}
.exp{margin-top:-4px;white-space:pre}
.title{font-weight:700;padding-right:0.25em;}
.ups{color: transparent;text-shadow: 0 0 0 black;}
.bluetooth_char{position:relative;}
.bluetooth_char::after{content:"ᛡ";line-height:100%;position:absolute;width:100%;height:100%;left:-0.235em;top:50%;transform:translateY(-50%);text-align:center;font-size: 120%;}
.friend_face_text{font-size:1.5em;height:2em;line-height:2em;margin-top:auto;margin-bottom:auto;white-space: nowrap;display: inline;}
.friend_name_text{flex-shrink:1;font-size:.8em;height:2em;line-height:2em;margin-top:auto;margin-bottom:auto;display: inline;}

.systemarea > div{flex-shrink:auto;padding-right:0.5em}
.systemarea div{display:inline}

.lowerarea{border-top:3px solid}
.lowerarea div{display:inline}
.shakes{flex-shrink:1}
.mode{flex-shrink:1}
.buttons-wrapper { flex-shrink: 0; display: flex; /*flex-wrap: wrap;*/ padding: 0 16px; }
.buttons-wrapper .button { border: 1px solid black; border-radius: 4px; font-size: 1em; background: #f8b506; margin: 16px; }