body{font-family:"Courier New",Courier,monospace;font-size:100%;}
@media screen and (min-width: 750px) {
body{font-size:150%}
}
@media screen and (min-width: 1000px) {
body{font-size:200%}
}
@media screen and (min-width: 1250px) {
body{font-size:250%}
}
.gotchicontainer{max-width:38em}
.flexible{display:flex;flex-wrap:wrap}
.headerbar{border-bottom:3px solid}
.headerbar div{display:inline}
.mainarea{padding-top: 5px;}
.channel{width:10em;margin-right:0.5em}
.aps{flex-shrink:1;margin-right:0.5em}
.padder{flex-grow:1;flex-shrink:1;text-align:center;}
.uptime{flex-shrink:1;width:13em}
.face{font-family:"Courier New",Courier,monospace;font-size:3em;flex: 1 1 0;min-width:5em}
.status{flex:2 1 0;flex-wrap:nowrap}
.name{font-weight:700;padding-right:0.25em}
.level{padding-right:0.25em;}
.exp{margin-top:-4px;font-family:monospace;white-space:pre}
.title{font-weight:700}
.friend_face_text{font-family:"Courier New",Courier,monospace;font-size:1.5em;height:2em;line-height:2em;width:5em;margin-top:auto;margin-bottom:auto}
.friend_name_text{flex-shrink:1;font-size:.8em;height:2em;line-height:2em;width:16em;padding-left:.5em;margin-top:auto;margin-bottom:auto}
.systemarea > div{flex-shrink:auto;padding-right:20px}
.systemarea div{display:inline}
.lowerarea{border-top:3px solid}
.lowerarea div{display:inline}
.shakes{flex-shrink:1}
.mode{flex-shrink:1}
.buttons-wrapper { flex-shrink: 0; display: flex; /*flex-wrap: wrap;*/ padding: 0 16px; }
.buttons-wrapper .button { border: 1px solid black; border-radius: 4px; font-size: 1em; background: #f8b506; margin: 16px; }


#initialiser {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}​